/* Color Variables declaration
==================================*/

$white: #fff;
$pink: #ff214f;
$yellow: #ffbb00;
$grey-text: #808080;
$grey-bg-text: #919899;
$grey: #ccc;
$light-grey: #f2f2f2;
$lightest-grey: #fbfbfb;
$light-grey-text: #f5f5f5;
$border-grey: #e5e5e5;
$black: #1e1e1e;
$coral: #f58770;
$dark-grey: #444;
$facebook-blue: #39539d;
$twitter-blue: #00caff;
$google-red: #ed391d;
$insta-blue: #33709f;
$youtube-red: #f70000;
$soundcloud-orange: #ff8300;
$dribble-pink: #fc2985;
$post-grey: #847c7c;
$green: #9fc358;
$teal-grey: #e7fffd;
$light-pink: #ff8397;
