<div class="panache-banner-wrapper">
  <div class="panache-banner-item"><img src="{{ directory }}/images/panache-banner.jpg" alt="Panache banner"> </div>
  <div class="panache-banner-item"><img src="{{ directory }}/images/panache-banner2.jpg" alt="Panache banner"> </div>
  <div  class="panache-banner-item"><img src="{{ directory }}/images/panache-banner.jpg" alt="Panache banner"> </div>
</div>