<div class="panache-copyright">
  <div class="container">
    <p>Copyright &copy; <a href="{{ front_page }}">Panache</a> | A theme by <a href="https://www.drupal.org/u/hansa11" alt="theme author Hansa" target="_blank">Hansa</a></p>
  </div>
</div>
