<div class="panache-introduction">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="panache-introduction-image">
          <img src="{{ directory }}/images/cake.png" alt="What we do- Donut image">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panache-introduction-text">

          <h2>What we do</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula arcu, imperdiet quis scelerisque ac, congue vel lacus. Aliquam laoreet, ex ut commodo pretium, tortor nulla condimentum mauris, sed faucibus dolor ante sed mi.</p><p> Ut tincidunt risus ex, vitae sollicitudin diam elementum sit amet. Curabitur a dui porta, luctus purus porttitor, semper orci. Morbi tristique lorem eget neque rutrum viverra. Ut commodo justo quis posuere euismod. Pellentesque vel vestibulum est, ut molestie massa. Morbi tincidunt sem tortor, ornare sollicitudin lorem facilisis sit amet. Ut ac sem sit amet lorem faucibus lobortis. In eu gravida sapien.
          </p>
      </div>

      </div>
    </div>
  </div>
</div>