<div class="panache-social-links">
  <div class="container">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-dribbble"></i>
  </div>
</div>