@mixin create-container {
  @include make-container;

  @include media-breakpoint-up('sm') {
    max-width: rem(540px);
  }

  @include media-breakpoint-up('md') {
    max-width: rem(720px);
  }

  @include media-breakpoint-up('lg') {
    max-width: rem(960px);
  }

  @include media-breakpoint-up('xl') {
    max-width: rem(1170px);
  }
}
