.panache-logo {
  text-align: center;

  .site-logo {

    @include media-breakpoint-up('lg') {
      max-width: rem(350px);
    }

    @include media-breakpoint-up('md') {
      max-width: rem(250px);
    }
    max-width: rem(150px);
    width: 100%;
  }

  .site-name {
    display: block;
  }
}
